.container {
    margin:auto;
    max-width:500px;
    font-family:sans-serif;
}

.heading {
    color:purple;
    font-weight:700;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: green;
}


.site-title {
    font-weight:700;
    color:peru;
    font-size:3rem;
    margin:3rem 0;
}